<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LunchCheck</title>
	<link rel="stylesheet" href="">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="app2.js" type="text/javascript"></script>
	<style>
	.red{
		color:red;
		
	}
	.red-border{
		border:2px solid red;
	}
     .green{
     	color:green;
     	
     }
     .green-border{
     	border:2px solid green;
     }
		</style>
</head>
<body ng-controller="LunchCheckController">
	<input type="text" name="textbox" ng-model="data" ng-class="border">        [!Do not enter an empty string eg:aman,,suresh]
	<p ng-class="class">{{message}}</p>
	<input type="button" name="button" value="Check if too much" ng-click="checkValue()">
	
	
</body>
</html>