<!DOCTYPE html>
<html ng-app="my-app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Angular Js</title>
	<link rel="stylesheet" href="">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="mycontroller">
	<h1 style="color:red">hello my name is aman.</h1>
<p>{{showMessage(20)}}</p>
<input type="text" name="name" ng-model="value">
{{value}}
<h1>Name Calculator</h1>
<input type="text" name="name" ng-model="namevalue" ng-keyup="showvalue(namevalue)">
<p>entered numeric value for {{namevalue}}:{{totvalue}}</p>
</body>
</html>