*{
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
html,body{
	height:100%;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.padding_tb{
  padding-top:40px;
  padding-bottom:40px;
}
.section-title {
  text-align: center;
  max-width: 75%;
  margin: 0 auto 25px;
  position: relative;
}
.section-title h2 {
	position: relative;
  display: inline-block;
  padding: 12px;
  margin-top: 0;
  font-size: 42px;
  font-family: 'open sans',sans-serif;
 font-weight: 400;
color: #000;
 text-transform: uppercase;
margin: 0px 0px 0px;
line-height: 30px;
letter-spacing: 0.01em;
}
.section-title p{
  font-size:14px;
font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-color:#829199;
  font-weight: 400;
  margin:10px 0;
}
/*.section-title h2::before{
	content:"";
 position: absolute;
top:-45px;
left:0px;
width:170px;
background:#ff8f00 none repeat scroll 0% 0%;


height:2px;

border:none;
}*/
.section-title h2::before{
  content: "";
background:#ff8f00 none repeat scroll 0% 0%;
width:80px;
height:2px;
position:absolute;
left:-75px;
transform: translateY(-50%);
top:50%;
border:none;
}

.section-title h2::after{
  content: "";
background:#ff8f00 none repeat scroll 0% 0%;
width:80px;
height:2px;
position:absolute;
right:-75px;
transform: translateY(-50%);
top:50%;
border:none;
}

img.front-headline-image{
    border: 3px solid #ebebeb;
	margin:0;
	width:100%;
	max-height:400px;
}
img.secondary-headline-image:first-of-type{
	margin-bottom:20px;
}
img.secondary-headline-image{

border: 3px solid #ebebeb;	
	width:100%;
	max-height:calc(200px - 10px);
}
img.tertiary-headline-image:first-of-type{
	margin-bottom:20px;
}
img.tertiary-headline-image{
    border: 3px solid #ebebeb;
	width:100%;
	max-height:calc(110px - 10px);
}
img.fourth-headline-image{
	border: 3px solid #ebebeb;
	margin:0;
	width:100%;
	max-height:350px;
}
.nav-tabs { 
border:none;
margin-bottom: 20px;

 }
 #news_events ul.nav-tabs li{
    padding-left: 50px;
 }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #f27935;background-color:none;font-weight: 700; }
  #news_events ul.nav-tabs > li > a:hover{
  	background: transparent;
  }
  #news_events div.image-text p.second-news-date{

	letter-spacing: 0.03em;
	font-size: 1.8em;
	margin-right:22px;
	font-family: 'Open Sans Condensed',sans-serif;
	font-weight: 700;
} 
div.news-events-image{
	
}

.image-content{
	position: relative;
	font-size: 17px;
}
#news_events div.image-content div.overlay-mask{
	position: absolute;
	
	bottom:3px;
	left:3px;
	right:0;
   filter:blur(5px);
	background: rgba(0,0,0,0.5);
	height:45%;
	width:calc(100% - 6px);
	z-index:1;
}
.secondary-image-content{
	position: relative;
	font-size: 8px;
}
#news_events div.secondary-image-content div.overlay-mask{
	position: absolute;
	
	bottom:23px;
	left:3px;
	right:0;
	filter:blur(5px);
	background: rgba(0,0,0,0.5);
	height:45%;
	width:calc(100% - 6px);
	z-index:1;
}

#news_events div.image-text{
	color:#fff;
	z-index:5;
	position: absolute;
	left:12px;
	bottom:16px;
	
	
	text-transform: uppercase;
}
#news_events div.image-text p.main{
	letter-spacing: 0.03em;
	font-size: 1.8em;
	margin-right:22px;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
} 
#news_events div.image-text p.news-date{

	letter-spacing: 0.03em;
	font-size: 1.2em;
	margin-right:22px;
	font-family: 'Open Sans Condensed',sans-serif;
	font-weight: 700;
} 
#news_events div.image-text p.second{

	letter-spacing: 0.03em;
	font-size: 1.2em;
	margin-right:22px;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
}
#news_events div.image-text p.second-news-date{

	
	font-size: 1em;
	
}  
#expand-button.btn-danger{
 background: #f27935;
 border-color: #f27935;
 margin-left:15px;
 margin-top: 8px;
 border-radius: 0;
 font-size: 12px;
}
#news_events #events-trending{
	padding-left: 0;
    
}
#news_events #news-archive{
	padding-right: 0;
}
#news_events aside{
	background:#fff;
	margin-top: 10px;
	margin-left: 0;
	    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding-bottom: 10px;
}

#events-trending aside.side-trending ul.trending-ul{
	margin-top:20px;
	list-style-type: none;
	width: 100%;
	padding-left:0;
}
#events-trending aside.side-trending ul.trending-ul li{
	
	padding-top:10px;
	
}
#events-trending aside.side-trending ul.trending-ul li:last-of-type{
	border:none;
	
	
}
#events-trending aside.side-trending ul.trending-ul li img{
	width:100%;
	max-height:200px;
	
	
}
#events-trending aside.side-trending ul.trending-ul li p.side-text{
 	font-family: 'Open Sans',sans-serif;
 	color: #818181;
	font-weight:400;
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #e4e4e4;
	
}
#events-trending aside.side-trending ul.trending-ul li p.side-date{
	font-family: 'Open Sans Condensed',sans-serif;
	font-weight:700;
	font-size: 13px;
	color: #f27935;
	
}
#events-trending aside.side-trending ul.trending-ul li div.bottom-hr{
	margin-top: 12px;
	padding-top: 2px;
  border-bottom:1px solid #ccc;
  border-top: 1px solid #ccc;
}

#events-trending aside.side-trending ul.trending-ul li:last-of-type div.bottom-hr{
	 border:none;
}
#events-trending aside.side-trending a.event-trend{
	top:16px;
 right:30px;
	position: absolute;
}
#events-trending aside.side-trending ul.trending-ul li:nth-child(even) div.trend-image {
  float:right;
}
@media screen and (max-width:992px){
#news_events #events-trending{
	padding-left: 0;
	padding-right: 0;
}
}

@media screen and (max-width:992px){
	img.fourth-headline-image{
	
	max-height:250px;
}
 #news_events ul.nav-tabs li{
    padding-left: 20px;
 }

 #news_events div.image-text p.main{
	letter-spacing: 0.03em;
	font-size: 1.3em;
	margin-right:22px;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
} 
#news_events div.image-text p.second{

	letter-spacing: 0.03em;
	font-size: 0.9em;
	margin-right:22px;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
} 
#news_events div.image-text p.second-news-date{
	margin-bottom: -5px;
	font-size: 0.8em;
}
#news_events #events-trending {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -18px;
}

#news_events div.image-content div.overlay-mask{
	height:40%;
	}
	#news_events div.secondary-image-content div.overlay-mask {
		height:30%;
	}
}


/*************************
 ----------Blogs----------
*************************/
aside{
	    background:#fff;
	    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding-bottom: 10px;
}
aside img{
	width:100%;
   max-height:242px;
}
aside h3{
	margin-left: 10px;
 font-size:18px;
 margin-top: 5px;
 margin-bottom: 2px;
}
aside h3 a{
	
	color:#f27935;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 30px;
}
aside h3 a:hover{
	text-decoration: none!important;
	color:#f27935;
}
aside span.date{
	margin-left: 10px;
    font-size: 11px;
	font-weight:400;
	color:#666;
	text-transform: uppercase;
}
aside span.category{
    font-size: 11px;
	font-weight:700;
	color:#666;
	text-transform: uppercase;
}
aside hr.small_line{
	margin-left: 12px;
	margin-top: 2px;
	border-top:none;
	border-bottom: none;
	width:30px;
	background:#f27935 none repeat scroll 0% 0%;
    float:left;
    position: relative;
    height:2px;
    margin-bottom: 10px;
}
aside p.text{
	margin-left: 10px;
	margin-right: 3px;
	clear:both;
	color:#666;
	font-size: 13px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
  letter-spacing: 0.05em;
  
}
aside p.text span a{
	color:#f27935;
	font-weight: 700;

}
aside p.text span a:hover{
	text-decoration: none!important;
	color:#f27935;
}
 
 aside div.overlay-mask{
	position: absolute;
	
	bottom:0;
	left:0;
	right:0;
	filter:blur(5px);
	background: rgba(0,0,0,0.5);
	height:25%;
	width:100%;
	z-index:1;
}
aside div.image-icon{
	color:#fff;
	z-index:5;
	position: absolute;
	left:12px;
	bottom:13px;
	font-size: 12px;
	
	text-transform: uppercase;
}
aside div.image-icon span{
	margin-right:22px;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
} 
aside.side-trending{
	padding:10px 10px 10px 10px;
	margin-bottom: 20px;
}
aside.side-trending h3{
	font-family: 'Roboto',sans-serif;
	font-size: 21px;
	font-weight: 400;
	position: relative;
	text-transform: uppercase;
    margin-left:0;
}

aside.side-trending h3:after{
	position: absolute;
	content:"";
	background: #f27935 none repeat scroll 0% 0%;;
	width:60px;
	height:2px;
	left:5px;
	bottom:-5px;
	
}
aside.side-trending ul.trending-ul{
	margin-top:20px;
	list-style-type: none;
	width: 100%;
	padding-left:0;
}
#blog aside.side-trending ul.trending-ul li{
	border-bottom:1px solid #e6e6e6;
	padding-bottom: 10px;
	padding-top:10px;
	
}
aside.side-trending ul.trending-ul li:last-of-type{
	border:none;
	
	
}
#blog aside.side-trending ul.trending-ul li img{
	width:100%;
	max-height:60px;
	border:2px solid #ccc;
	
}
 p.side-heading{
	font-weight:700;
	font-size: 13px;
	
}
 p.side-date{
	font-family: 'Open Sans Condensed',sans-serif;
	font-weight:300;
	font-size: 13px;
	
}

aside.side-trending ul.archive-ul{
	margin-top:20px;
	list-style-type: none;
	width: 100%;
	padding-left:0;
}
aside.side-trending ul.archive-ul li{
	border-bottom:1px solid #e6e6e6;
	padding-top:10px;
	padding-bottom: 4px;
	
}
aside.side-trending ul.archive-ul li:last-of-type{
	border:none;
	padding-bottom: 0;
	
}

aside.side-trending ul.archive-ul li p.side-heading{
	font-weight:700;
	font-size: 13px;
	
}
aside.side-trending ul.archive-ul li p.side-heading i{
	color:#f27935;
	margin-right: 3px;

}
.btn-group{

	margin-bottom: 20px;
}
div.btn-group a.btn-danger{
	border-color: #ccc;
	background:#f27935;
}
div.btn-group a.btn-danger:active{
	background:#f27935;
	border-color: #f27935;
}
.open>.dropdown-toggle.btn-danger{
	background: #f27935;
	border-color: #f27935;
}
.open>.dropdown-toggle.btn-danger:hover {
	background: #f27935;
	border-color: #f27935;
	}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
	
	padding:5px;
}
div.btn-group a.btn-danger i{
	font-size: 20px;
	display: block;
}
div#small-screen-btn{
	display: none;
}

@media screen and (max-width:991px){
	aside img{
	width:100%;
   max-height:180px;
}
aside h3{

 font-size:16px;
 
}
aside h3 a{
	line-height: 22px;
}
aside span.date{
    font-size: 10px;
	
}
aside span.category{
	
    font-size: 10px;

}
aside div.image-icon{

	font-size: 10px;
	
	
}
aside div.image-icon span{
	margin-right:12px;
	
} 
aside.side-trending h3{
	font-size: 18px;
}
aside.side-trending ul.trending-ul li p.side-heading{
	
	font-size: 11px;
	margin-bottom: 3px;
	
}
aside.side-trending ul.trending-ul li p.side-date{
	
	font-size: 11px;
	
}
aside.side-trending ul.trending-ul li{
	border-bottom:1px solid #e6e6e6;
	padding-top:8px;
	
}
aside.side-trending ul.archive-ul li p.side-heading{
	font-weight:700;
	font-size: 11px;
	
}
aside.side-trending ul.archive-ul li p.side-heading i{
	color:#f27935;
	margin-right: 3px;

}
aside.side-trending ul.archive-ul{
	
	margin-bottom: 0;
}
aside.side-trending ul.archive-ul li{
	
	padding-top:5px;
	padding-bottom: 2px;
	
}
.btn-group{
	margin-bottom: 20px;
	text-align: center;
}
div.btn-group a.btn-danger{
	background:#f27935;
}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
	
	font-size: 11px;
	
}
div.btn-group a.btn-danger i{
	font-size: 10px;
	
}
div.btn-group ul.dropdown-menu{
	right:0;
	left:auto;
}
}

@media screen and (max-width:767px){
	.col-sm-6{
		width:50%;
		float: left;
	}
	.col-sm-4{
		
		width:50%;
	}
	.side-hide{
		display: none;
	}
	div#small-screen-btn{
		display: block;

	}
	.section-title p{
  font-size:1.2rem;
  
}
}
@media screen and (max-width:522px){
	.col-sm-6{
		width:100%;
		
	}
	.col-sm-4{
		
		width:100%;
	}
	.side-hide{
		display: none;
	}
}

/***************************
   Document repository
***************************/
table thead{
	font-family:'Roboto',sans-serif;
	font-size:12px;
	font-weight: 700;
	
}
th{
	text-align: center!important;
}
table tbody{
	font-size:12px;
	color:#000;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.02em;


}
.table-condensed>tbody>tr>td:first-child{
font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color:#333;
	
}
.table-condensed>tbody>tr>td:first-child>i{
	color:#ff8f00;
	margin-right: 10px;
	font-weight: bold;
}
.table-condensed>tbody>tr>td, .table-condensed>thead>tr>th{
	padding:6px!important;
}
.pagination li{
margin:0 5px;

}
.pagination li a{
	float:none;
	color:#333;
	font-weight: 400;

}
.pagination>.active>a{
	background-color: #ff8f00;
	border-color: #f27935;
	border-radius: 5px;
}
.pagination>.active>a:hover{
	background-color: #f27935;
	border-color: #f27935;
}
.dropdown{
	margin-bottom: 10px;
}
.dropdown-menu{
	position: absolute;
	left:150px;
	top:25px;
	padding-left:10px;
}
.dropdown span.heading{
	margin-right: 20px;
	font-size: 25px;
	font-style: 'Roboto',sans-serif;
	font-weight: 700;
}
.dropdown i{
	color:#ff8f00;
	font-size: 25px;
}
.dropdown button.filter{
	background-color: transparent;
	border:none;
}
.dropdown button.active{
	background-color: #333;
}
.dropdown li input{
	margin-right:7px;
}
.dropdown li input[type='radio'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
   
}
.dropdown li input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}
.dropdown li input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}
.dropdown li input[type='radio']:checked:before {
    background:#ff8f00;
}
.dropdown-menu .divider{
	margin-right: 10px;
}