html,body{
	height:100%;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
/* ------------------------------------------------------------- */
/* General styles */
/* ------------------------------------------------------------- */
.btn {
  font-size: 14px;
  text-transform: uppercase;
  border: 3px double transparent;
  border-radius: 0;
}
.btn:focus,
.btn:active:focus {
  outline: none;
  color:#fff;
}
.btn-empty {
  color: #fff;
  border: 2px solid #ff8f00;
  background-color: #ff8f00;
  border-radius:2px;
  padding:8px 8px 8px 8px;
}
.btn-empty:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #ff8f00;
  border-radius:2px;
  transition: all 0.5s ease-in-out 0s;
}
.padding_tb{
  padding-top:70px;
  padding-bottom: 70px;
}
.padding-lr{
  padding-left: 20px;
  padding-right: 20px;
}
.section-title {
  text-align: center;
  max-width: 75%;
  margin: 0 auto 25px;
}
.section-title h2 {
  display: inline-block;
  padding: 12px;
  margin-top: 0;
  font-size: 42px;
  font-family: 'open sans',sans-serif;
 font-weight: 400;
color: #000;
 text-transform: uppercase;
margin: 0px 0px 0px;
line-height: 30px;
letter-spacing: 0.01em;
}
.section-title p{
  font-size:14px;
font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-color:#829199;
  font-weight: 400;
  margin:30px 0;
}

/* ------------------------------------------------------------- */
/* Start Navigation Section */
/* ------------------------------------------------------------- */

#topnav {

      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  transition: all .3s ease;
  margin: 0;
  border: 0;
	font-family: 'Open Sans', sans-serif;
	padding:15px 10px;
}
#topnav.scrolled{

  background-color: rgba(0,0,0,0.9);
  transition: all .3s ease-in;
  min-height: 30px;
  margin: 0;
  border: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
#topnav .container-fluid{
	margin:0;
}
#topnav .navbar-nav > li > a {
 font-size:14px;
font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding:15px 13px 0px;
  transition: all .3s ease;
  line-height: 12px;
  letter-spacing: 0.1em;
	background-color: transparent;
  
 
}
#home{
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
	  height:100%;
	width:100%;
	position: relative;
}
.banner {
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  opacity:0.8;
}
 #nav{
 	position:relative;
 	right:70px;
	float:right;
}
#topnav .navbar-nav > li.active > a {
  
 color:#FF8F00;
  
 
  transition: all .3s ease;
  
 
}
#topnav .navbar-nav > li > a:hover {
 
 color:#FF8F00;
 transition: all .3s ease;
 font-weight: 400;
}
#topnav .navbar-nav > li.open > a {
  background-color: none;
}
#logo{
	z-index:0!important;
}
#logo > a {
	font-size:20px;
	margin-left:40px;
padding: 0;
color: #fff;
 font-family: 'Roboto', sans-serif;
  line-height: 45px;
 letter-spacing: 0.05em;
 font-weight: 700;
}

#logo >a > span{
color:#FF8F00;
opacity:1;
}
.banner > .container{
 top:39%;
 position: relative;
 text-align: center;
 z-index:14;
}
.banner h1{
  font-family: 'Roboto',sans-serif;
 font-size: 65px;
  margin: 0;
    color: #fff;
 letter-spacing: 0.06em;
 font-weight: 700;
}
.banner h1 >span{
  color:#FF8F00;
}
.banner p {
  font-size: 18px;
  margin: 13px 0;
  color: #fff;
  margin-bottom:20px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.1em;
  
}
.fa-long-arrow-right{
	padding-left:6px;
}

/* ------------------------------------------------------------- */
/* Start About Us Section */
/* ------------------------------------------------------------- */
#aboutus{
 position:relative;
 width: 100%;
 
}
#aboutus .section-title hr{
background:#ff8f00 none repeat scroll 0% 0%;
top:-15px;
width:145px;
left:-38px;
height:1.6px;
position:relative;
border:none;
}

#aboutus .section-title hr::after{
  content: "";
background:#2F383D none repeat scroll 0% 0%;
width:145px;
height:1.6px;
position:absolute;
left:78px;
top:10px;
border:none;
}
.box-border{
   padding:5px 15px;
      font-size: 12px;
 /* border:1px solid #e3e3e3;*/
  border-radius:5px;
}
#aboutus .col-md-3:hover{
  transition: all 0.5s ease;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* ------------------------------------------------------------- */
/* Start News/Events Section */
/* ------------------------------------------------------------- */

#news_events{
  width: 100%;
  position: relative;
}
#device {
  margin:20px 0 20px 70px;
  width: 315px;
  height: 565px;
  position:relative;
  background-color: #fff;
  border: 1.5rem solid #111;
  border-bottom-width: 8rem;
  border-top-width: 8rem;
  border-top-left-radius: 60px 50px;
  border-top-right-radius: 60px 50px;
  border-bottom-left-radius: 60px 50px;
  border-bottom-right-radius: 60px 50px;  
   /* box-shadow: 14px 14px 10px rgba(0,0,0,0.25), 14 10px 10px rgba(0,0,0,0.22);*/
   box-shadow:10px 10px 30px #707070;
    } 
  #device-signal:before, #device-signal:after {
    content: '';
    position: absolute;
    width: 45%;
    height: 10px;
    top: -5.5rem;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);

  }
  #device-camera{
    content: '';
    position: absolute;
    width: 3.5%;
    height:2.5%;
    border-radius:50%;
    top: -5.4rem;
    right:15%;
    background:rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
      }
  #device-signal:after {
    width: 50%;
    top: calc(100% + 4.5rem);
  }
#news_events .section-title hr{
 background:#ff8f00 none repeat scroll 0% 0%;
top:-15px;
width:198px;
left:-57px;
height:1px;
position:relative;
border:none;
}

#news_events .section-title hr::after{
  content: "";
background:#2F383D none repeat scroll 0% 0%;
width:198px;
height:1px;
position:absolute;
left:118px;
top:10px;
border:none;
}
#news-heading{
  display:flex;
  background-color: #e68100;
  flex-wrap:nowrap;
  padding-top:6px;
  padding-bottom:4px;
  color:#fff;
  z-index:100;
}
#news-heading i{
  margin:8px 25px 0px 13px;
}
#news-heading span{
  margin-right:20px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
 margin-top:5px;
}
#news-heading ul{
  list-style: none;
  display: inline-flex;
margin-top:3px;
float:right;
}
#news-heading ul li > i{
    margin:8px 5px 0px 25px;
    padding-right:0;
}
#main_news{
  height:22.5vh;
  background:url(../new_img/pic1.jpg);
  background-size: cover;
  background-position: center;
    position:relative;

}
#main_news #overlay{
  position: relative;
  background: linear-gradient(
    to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9));
  height: 22.5vh;
}

#main_news p{
  z-index:1;
  color: #fff;
  position:absolute;
  bottom:2px;
  font-family: 'Roboto',sans-serif;
  font-weight:400;
  padding-left:15px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}
#secondary_news{
  position:relative;
  
}
#secondary_news table{
  width:100%;
  list-style: none;
  overflow: hidden;
}
#secondary_news table tr{
  display: flex;
  width:100%;
  padding:10px;
  border-bottom:1px solid #A0A0A0;
}
#secondary_news table tr:last-child{
 
  border-bottom:none;
}
#secondary_news table tr td{
  padding-left:10px;
}
#secondary_news table tr td > .side-image-1{
  background:url(../new_img/modi_news.jpg);
  background-size: cover;
  background-position: center;
  width:5vw;
  height:9vmin;
  
}
#secondary_news table tr td p{
  font-family: 'Roboto',sans-serif;
  font-weight:bold;
  line-height:1.2em;
  font-size:13px;
  color:#000;
}
#secondary_news table tr td i{
 color: #606060;
}