html,body{
	height:100%;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
/* ------------------------------------------------------------- */
/* General styles */
/* ------------------------------------------------------------- */
.btn {
  font-size: 14px;
  text-transform: uppercase;
  border: 3px double transparent;
  border-radius: 0;
}
.btn:focus,
.btn:active:focus {
  outline: none;
  color:#fff;
}
.btn-empty {
  color: #fff;
  border: 2px solid #ff8f00;
  background-color: #ff8f00;
  border-radius:2px;
  padding:8px 8px 8px 8px;
}
.btn-empty:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #ff8f00;
  border-radius:2px;
  transition: all 0.5s ease-in-out 0s;
}
.padding_tb{
  padding-top:70px;
  padding-bottom: 70px;
}
.padding-lr{
  padding-left: 20px;
  padding-right: 20px;
}
.section-title {
  text-align: center;
  max-width: 75%;
  margin: 0 auto 25px;
}
.section-title h2 {
  display: inline-block;
  padding: 12px;
  margin-top: 0;
  font-size: 42px;
  font-family: 'open sans',sans-serif;
 font-weight: 400;
color: #000;
 text-transform: uppercase;
margin: 0px 0px 0px;
line-height: 30px;
letter-spacing: 0.01em;
}
.section-title p{
  font-size:14px;
font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-color:#829199;
  font-weight: 400;
  margin:30px 0;
}

/* ------------------------------------------------------------- */
/* Start Navigation Section */
/* ------------------------------------------------------------- */

#topnav {

      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  transition: all .3s ease;
  margin: 0;
  border: 0;
	font-family: 'Open Sans', sans-serif;
	padding:15px 10px;
}
#topnav.scrolled{

  background-color: rgba(0,0,0,0.8);
  transition: all .3s ease;
  min-height: 30px;
  margin: 0;
  border: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
#topnav .container-fluid{
	margin:0;
}
#topnav .navbar-nav > li > a {
 font-size:14px;
font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding:15px 13px 0px;
  transition: all .3s ease;
  line-height: 12px;
  letter-spacing: 0.1em;
	background-color: transparent;
  
 
}
#home{
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
	  height:100%;
	width:100%;
	position: relative;
}
.banner {
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  opacity:0.8;
}
 #nav{
 	position:relative;
 	right:70px;
	float:right;
}
#topnav .navbar-nav > li.active > a {
  
 color:#FF8F00;
  
 
  transition: all .3s ease;
  
 
}
#topnav .navbar-nav > li > a:hover {
 
 color:#FF8F00;
 transition: all .3s ease;
 font-weight: 400;
}
#topnav .navbar-nav > li.open > a {
  background-color: none;
}
#logo{
	z-index:0!important;
}
#logo > a {
	font-size:20px;
	margin-left:40px;
padding: 0;
color: #fff;
 font-family: 'Roboto', sans-serif;
  line-height: 45px;
 letter-spacing: 0.05em;
 font-weight: 700;
}

#logo >a > span{
color:#FF7200;
opacity:1;
}
.banner > .container{
 top:39%;
 position: relative;
 text-align: center;
 z-index:14;
}
.banner h1{
  font-family: 'Roboto',sans-serif;
 font-size: 65px;
  margin: 0;
    color: #fff;
 letter-spacing: 0.06em;
 font-weight: 700;
}
.banner h1 >span{
  color:#FF8F00;
}
.banner p {
  font-size: 18px;
  margin: 13px 0;
  color: #fff;
  margin-bottom:20px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.1em;
  
}
.fa-long-arrow-right{
	padding-left:6px;
}

/* ------------------------------------------------------------- */
/* Start About Us Section */
/* ------------------------------------------------------------- */
#aboutus{
 position:relative;
 width: 100%;
 
}
#aboutus .section-title hr{
background:#ff8f00 none repeat scroll 0% 0%;
top:-15px;
width:145px;
left:-38px;
height:1.6px;
position:relative;
border:none;
}

#aboutus .section-title hr::after{
  content: "";
background:#2F383D none repeat scroll 0% 0%;
width:145px;
height:1.6px;
position:absolute;
left:78px;
top:10px;
border:none;
}
.box-border{
   padding:5px 15px;
      font-size: 12px;
 /* border:1px solid #e3e3e3;*/
  border-radius:5px;
}
#aboutus .col-md-3:hover{
  transition: all 0.5s ease;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}